<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="com.qa.listeners.ListenerClass"></listener>
    </listeners>
   <parameter name="environment" value="qa"/>
   
  <test thread-count="1" name="Test">
   <parameter name="username" value="pursuitsoftwaredevelopmentpvt@isvedition.org.dev4"/>
        <parameter name="password" value="Pursuit##DEV4"/>
    <classes>
      <class name="testMain.TalentTrackingTC">
      <methods>
     <include name="TalentTrackingLogin"/>
      </methods>
     </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
